  
    

  body{

    
    font-family: 'Jeju Gothic', sans-serif;
    margin: 0;
    background-image: url("jejunu.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/* header*/
header{
    height : 180px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;
}
.time{
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  font-family: 'Jeju Gothic', sans-serif;
  font: bold;
  

  color: #000
}

        

  .info{
    width: fit-content;
    
    max-height: 70%;
    height: 240px;
    border: 3px solid #000;
    background-color: lightblue;
    float: left;
    margin: 4px;
    box-sizing: border-box;

}