main {
    background-image:  linear-gradient(120deg, red, orange, yellow, green, blue, navy, purple);
  }.fullscreen {
    width: fit-content;
    height: fit-content;
    background-color: lightblue;
  }
  .main-container {
    width: fit;
    margin: auto;
    display: grid;

    gap: 10px; /* 자식요소간의 간격 */
  }
  .temp-box {
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    width: fit-content;
    height: 100%;
    font-size: 40px;
    text-align: center;
  }